BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_telegram_id

DB_NAME=game_bot
DB_USER=cote_megaverse_backspace
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

WEBHOOK_URL=https://yourdomain.com/webhook
WEBHOOK_LISTEN=0.0.0.0
WEBHOOK_PORT=9080

LAVA_API_KEY=your_lava_api_key
LAVA_WEBHOOK_SECRET=your_lava_webhook_secret
LAVA_WH_URL=https://yourdomain.com/lava_webhook
LAVA_OFFER_ID=your_offer_uuid

YOOMONEY_WALLET=your_yoomoney_wallet
YOOMONEY_SECRET_KEY=your_yoomoney_secret
